.researchers-tool_background{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.background_aurora-1{
    position: absolute;
    top: -7rem;
    right: -5rem;
    height: 18.5rem;
    width: 18.5rem;
    border-radius: 100%;
    background: linear-gradient(122.89deg, #FFFFFF 20.06%, #FFA72E 84.31%);
    opacity: 0.5;
    filter: blur(65px);

}

.background_aurora-2{
    position: absolute;
    width: 28rem;
    height:28rem;
    left: 34rem;
    top: -11rem;
    background: linear-gradient(122.89deg, #FFFFFF 20.06%, #2EFFF2 84.31%);
    opacity: 0.2;
    filter: blur(176px);
    border-radius: 100%;
}

.background_aurora-3{
    position: absolute;
    width: 21vw;
    height: 21vw;
    left: 18vw;
    top: -10vw;
    background: linear-gradient(122.89deg, #FFFFFF 20.06%, #FFE880 84.31%);
    filter: blur(85px);
    border-radius: 100%;
}

.background_aurora-4{
    position: absolute;
    width: 22vw;
    height: 22vw;
    left: -10vw;
    top: -1vw;
    background: linear-gradient(122.89deg, #FFFFFF 20.06%, #FFE280 84.31%);
    opacity: 0.65;
    filter: blur(50px);
    border-radius: 100%;
}

/*
* Header styling
*/

.researchers-tool_header{
    /*position: fixed;*/
    position: relative;
    top: 0;
    width: 100%;
    height: 4.77rem;
    z-index: 2;
}

.header_background{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(239,242,249,0.42);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: -1;
}

.header_background::after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    top: 100%;
    margin-left: 0;
    left: 0;
    background-color: rgba(0,0,0,0.16);
    z-index: 2;

}

.header_items{
    list-style-type: none;
    font-family: poppins-regular;
    width: 100%;
    font-size: 0.9rem;
    padding-top: 2.65rem;
    text-align: center;
    line-height: initial;

    *{
        display: inline;
    }
}

.header_items:before{
    display: none;
}

/*
* Hero section styling
*/

.researchers-tool_hero-section{
    width: 100%;
    height: fit-content;
    margin: auto;
    z-index: 1;
    margin-top: 4.5rem;
}

.hero-section_line-1{
   position: relative; 
   width: 47.5rem;
}  

.line-1_text{
    display: inline-block;
    font-size: 5rem;
    font-family: poppins-medium;
    font-style: normal;
    font-weight: 500;
    line-height: 7.5rem;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #00071A;
}

.line-1_icon{
    display: inline-block;
    height: 5rem;
    width: 5rem;
    position: relative;
    top: 1.3rem;
    right: -1.4rem;
    background-image: url('/icons/face_savoring _food.svg');
    background-repeat: no-repeat;

    }

.hero-section_line-2{
    font-size: 3.090rem;
    font-family: poppins-regular;
    font-style: normal;
    font-weight: 400;
    line-height: 4.625rem;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    color: #00071A;
}

/*
* Main section styling
*/

.researchers-tool_main{
    margin: 5.375rem 3.1rem 0 3.1rem;
}

.main_left-section{
    position: relative;
    width: calc(50vw - 5.2em);
    height: calc(50vw - 8.3rem);
    background: #EFF2F9;
    box-shadow: inset -4px -4px 8px #FAFBFF, inset 4px 4px 8px rgba(22, 27, 29, 0.23);
    border-radius: 3.1rem;
}

.left-section_files{
    position: absolute;
    content: '';
    width: calc(50vw - 5.2em);
    height: calc(50vw - 8.3rem);
    border-radius: 3.1rem;
    overflow-y: auto;
}

.main_left-section::before::-webkit-scrollbar {
    width: 0;
}

.left-section_background-text{
    font-family: poppins-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3.1rem;
    text-align: center;

    background: linear-gradient(92.3deg, #00071A 0.08%, rgba(0, 7, 26, 0.1) 36.31%, rgba(0, 7, 26, 0.55) 66.87%, rgba(0, 7, 26, 0) 100.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    opacity: 0.5;
}

.left-section_add-button::-webkit-file-upload-button {
    visibility: hidden;
}

.left-section_add-button {

    height: 0;
    width: 0;
}

.left-section_add-button::before {
    content: '';
    height: 3.1rem;
    width: 3.1rem;
    border-radius: 100%;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    border: none;
    background: #EFF2F9;
    background-image: url('/icons/+.svg');
    background-repeat: no-repeat;
    background-position-x: 54%;
    background-position-y: 54%;
    box-shadow: 4px 4px 8px rgba(22, 27, 29, 0.23), -4px -4px 8px #FAFBFF;
    color: #6E7F8D;
    font-size: 2rem;
    font-family: poppins-regular;
    z-index: 2;
}

.left-section_add-button:active::before {
    background-image: url('/icons/+clicked.svg');
    box-shadow: none;
}


.main_right-section{
    position: relative;
    width: calc(50vw - 6.4em);
    height: calc(50vw - 8.3rem);
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 0;

}

.main_right-section::-webkit-scrollbar {
    width: 0.2rem;

}

.main_right-section::-webkit-scrollbar-track {
    border-radius: 100rem;
    background-color: #00071A;
    border: 0.01rem solid transparent;
    background-clip: content-box;
  }
  

.main_right-section::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 100rem;
    background-color: transparent;
    border-top: 5rem solid #000000 /*or any height and color you want*/;
}

.right-section_actions{
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    width: 8rem;

}

.actions_download{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    content: '';
    background-image: url('/icons/Downlod icon.svg');
    background-repeat: no-repeat;

}

.actions_coppy{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    content: '';
    background-image: url('/icons/Copy icon.svg');
    background-repeat: no-repeat;

}

.right-section_document{

    margin-right: 3.1rem;
}



/*
* Footer styling
*/
.researchers-tool_footer{
    margin-top: 4.5rem;
    height: 1.5rem;
    font-style: normal;
    font-size: 1rem;
    line-height: 1rem;
    font-family: roboto-thin;
    color: #00071A;
    font-size: 0.6rem;
}

.footer_text-1{
    display: inline-block;
    font-size: 0.7rem;
}

.footer_icon-hart{
    display: inline-block;
    content: '';
    height: 0.625rem;
    width: 0.75rem;
    background-image: url('/icons/hart.svg');
    background-repeat: no-repeat;
}
.footer_text-2{
    display: inline-block;
    font-size: 0.8rem;
}

